<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>How epic will this be</title>
	
	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;"> -->
	
	<!-- CSS : implied media="screen" -->
	<link rel="stylesheet" href="/stylesheets/core.css" />
	
</head>

<body>
	<section>
		<header>(header)</header>
		<nav>(nav)</nav>
		<article>
			<p>Before they sold out consectetur chillwave, tumblr you probably haven't heard of them reprehenderit tattooed. Kogi tempor stumptown ut, readymade keytar fugiat scenester occaecat. Dolor consequat ullamco fixie wolf, assumenda direct trade banksy accusamus. Vero messenger bag flexitarian, typewriter labore cardigan deserunt art party lo-fi non ea. Tempor cillum sint wolf terry richardson nulla fap, qui est selvage whatever VHS aute mustache. Dolore sartorial vegan nisi. Culpa laborum ex, freegan nisi occaecat mustache aliquip williamsburg before they sold out accusamus odio.</p>
		</article>
		<aside>(aside)</aside>
		<div class="example_ad">(example ad)</div>
		<footer>(footer)</footer>
	</section>
</body>
</html>


